html,
body,
#root {
  height: 100%;
}

.commonLayoutContainer {
  height: 100%; /* Will now take 100% of the parent's height */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
