html,
body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.commonLayoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Thicker box-shadow */
  filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.2)); /* Thicker drop-shadow */
}

.signUpBg {
  background-color: #f5f5f7;
}
.blueBg {
  background-color: #5669ff;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  height: 60px;
}

.contentContainer {
  flex-grow: 1;
  padding: 16px 32px;
  background: #f5f5f5;
}

.no-padding {
  padding: 0;
}
